
<footer 
    style="
        background-color: black;
        align-items: center;
        color: white;
        
        display: flex;
        height: 4rem;
        justify-content: center;
    "
>
    <div class="div-footer"
    style="height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;">
    <span>Developed by <a href="https://github.com/lcsgborges" target="_blank"
        
            style="text-decoration: underline;
            color: white;"
        >Lucas Borges</a></span>
    </div>
</footer>