{% extends "partials/header.html" %}

{% load static %}
{% block content %}

{%for message in messages%}
    <div> <p>{{message}}</p></div>
    {%endfor%}
    
    <main>
        <div class='main-content-div'>
            
            <section class="main-content-section">
                <div class="formulario-papiro">
                    <h1 class="cadastro-h1">Faça seu cadastro</h1>

                    <form action="{%url 'cadastro'%}" method="POST" class="form-cadastro"> {% csrf_token %}

                        <div class="">
                        {% for field in form.visible_fields %}

                        <div class="div-form-cadastro">
                            <label for="{{field.id_for_label}}" class="label-form-login">
                                
                                {{field.label}}
                            </label>
                            {{field}}
                        </div>
                        {%endfor%}
                    </div>
                        <div class="div-button-login">
                            <button type="submit" class="">Cadastrar</button>
                        </div>
                    </form>
                    <span class="span-login">Já possui uma conta? <a href="{%url 'login'%}">Entre aqui</a></span>
                </div>
            </section>
        </div>
    </main>
{% endblock %}